@model IEnumerable<ContosoUniversity.Models.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}


<h2>Student body statistics</h2>

<table>
    <thead>
        <tr>
            <th>Enrollment Date</th>
            <th>Student count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EnrollmentDate</td>
                <td>@item.StudentCount</td>
            </tr>
        }
    </tbody>
</table>